* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16bpx;
    box-sizing: border-box;
    outline-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #7026ed;
    --secondary-color: #470e9d;
    --dark-color: #1a033b;
    --light-color: #dde2ff;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    /* border: 1px solid red; */
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    /* border: 1px solid red; */
}

.brand font {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.navigation font {
    color: grey;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 15px;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.navigation-menu a {
    padding: 10px 0 10px 15px;
    color: var(--secondary-color);
    font-size: 1em;
    text-transform: capitalize;
    transition: .1s;
    /* background-color: whitesmoke; */
    /* border: 1px solid red; */
}

.navigation-menu a:hover {
    background-color: rgb(233, 233, 233);
}

.navigation-menu a:nth-child(3) {
    border-left: 5px solid var(--secondary-color);
}

.navigation-menu a:last-child {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    color: black;
}

section {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin-left: 250px;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    flex-direction: column;
    height:140px;
    /* border: 1px solid red; */
}

.tittle {
    display: flex;
    align-items: center;
    height: 50%;
    padding-left: 25px;
    /* border: 1px solid #7026ed; */
}

.tittle font {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
}

.tittle:first-child {
    background-color: var(--secondary-color);
    color: white;
}   

.tittle:last-child {
    background-color: white;
}

main {
    margin: 25px;
    padding-bottom: 40px;
    max-height: fit-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
                rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* border: 1px solid red; */
}

.content-head {
    font-size: 1.2em;
    font-weight: 500;
    padding: 20px 15px 20px;
    text-transform: capitalize;
    border-bottom: 2px solid lightgray;
}

.toogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 15px 0;
    /* border: 1px solid red; */
}

.search-wrapper {
    height: fit-content;
    border: 1px solid gray;
    border-radius: 8px;
}

.search-wrapper:focus-within {
    transition: .2s;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 270px;
    padding: 10px 0 10px 10px;
    /* border: 1px solid red; */
    /* border-right: none; */
    outline-style: none;
    border-style: none;
    border-radius: 7px 0 0 7px;
}

.search input:focus {
    transition: .3s;
    /* border: 1px solid var(--secondary-color); */
    /* border-right: none; */
}

.search button {
    background-color: var(--primary-color);
    border-style: none;
    /* border: 1px solid lightgrey; */
    border-left: none;
    border-radius: 0 5px 5px 0;
    color: white;
    padding: 10px 0;
    width: 70px;
    cursor: pointer;
    
}

.toogle a {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: .9em;    
    font-weight: 500;
    /* border: 1px solid red; */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-transform: capitalize;
}

table th {
    width: 20%;
    padding: 15px 0;
    background-color: var(--light-color);
}

table tr:first-child :where(th:first-child) {
    padding-left: 10px;
    text-align: left;
}

table tr td {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

table tr:not(tr:first-child):hover {
    transition: .2s;
    background-color: whitesmoke;
}

table tr td:first-child {
    padding-left: 10px;
}

table tr td:last-child {
    text-align: center;
}

table tr td:where(td:nth-child(2), td:nth-child(3), td:nth-child(4)) {
    text-align: center;
}